# Manual Verification

If your project is not centred on a Github repository, or you can't get the automated verification system to work, you can request manual verification.

1. Ensure your project meets the [acceptance criteria](../acceptance-criteria.md).
2. Go to [https://opencollective.com/opensource/apply](https://opencollective.com/opensource/apply)
3. Agree to the terms of fiscal sponsorship
4. Click 'Request manual verification'
5. Proceed to create your Collective and await manual review

![](<../../.gitbook/assets/Screen Shot 2020-12-03 at 3.46.43 PM (1).png>)

When we review your Collective, we will look at the information you've provided, including links to your website and social media, and the info in your Collective's 'About' section. Please ensure these are up to date and correct on your Collective page.

{% hint style="info" %}
If we have questions about your application, we may reach out to you to schedule a chat or request additional materials.
{% endhint %}

{% hint style="success" %}
If your collective is accepted, congratulations! Once you have set up your collective’s Open Collective page, you can begin accepting contributions (donations).&#x20;
{% endhint %}

{% hint style="warning" %}
If your application is rejected, you will be informed as to why. You are welcome to reapply if adjustments are made to align with our requirements. We try to respond to applications within two business days.
{% endhint %}

Be sure to check your Spam folder for correspondence from OSC. Sometimes our emails end up in there.
